$main-bg-color: #005e90;

#actions-container {
  display: flex;
  justify-content: center;
  padding: 2rem 0;

  > a {
    width: 20%;
    max-width: 15rem;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-right: 1rem;
    border: 2px solid #e6e6e6;

    ::ng-deep > span {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column;
      font-size: 1.2rem;

      > .mat-icon {
        font-size: 4rem;
        width: auto;
        height: auto;
        color: $main-bg-color;
      }
    }
  }
}
