<div>
    <div class="row justify-content-center">
        <div class="col-12">
            <h5 class="text-center font-weight-light text-white" jhiTranslate="reset.request.title">Reset your
                password</h5>
            <p *ngIf="!success" class="text-center text-white" jhiTranslate="reset.request.messages.info">Enter the
                email address
                you used to register.</p>
            <jhi-alert-error></jhi-alert-error>
            <form (ngSubmit)="requestReset()" *ngIf="!success" [formGroup]="resetRequestForm" class="pt-5" name="form"
                  role="form">
                <div class="form-group pb-3">
                    <label class="form-control-label text-white" for="email" jhiTranslate="global.form.email.label">Email</label>
                    <input class="form-control" formControlName="email" id="email" name="email"
                           type="email">
                    <div id="password-reset-error-label">
                        <ng-container
                            *ngIf="resetRequestForm.get('email').invalid && (resetRequestForm.get('email').dirty || resetRequestForm.get('email').touched)">
                            <small *ngIf="resetRequestForm.get('email').errors.required"
                                   class="form-text text-danger"
                                   jhiTranslate="global.messages.validate.email.required">
                                Your email is required.
                            </small>
                            <small *ngIf="resetRequestForm.get('email').errors.email"
                                   class="form-text text-danger"
                                   jhiTranslate="global.messages.validate.email.invalid">
                                Your email is invalid.
                            </small>
                            <small *ngIf="resetRequestForm.get('email').errors.minlength"
                                   class="form-text text-danger"
                                   jhiTranslate="global.messages.validate.email.minlength">
                                Your email is required to be at least 5 characters.
                            </small>
                            <small *ngIf="resetRequestForm.get('email').errors.maxlength"
                                   class="form-text text-danger"
                                   jhiTranslate="global.messages.validate.email.maxlength">
                                Your email cannot be longer than 100 characters.
                            </small>
                        </ng-container>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 d-flex justify-content-between">
                        <button (click)="previousState()" class="btn btn-dark" type="button">
                            <mat-icon class="align-text-top">keyboard_backspace</mat-icon>
                            <span jhiTranslate="login.title">Login</span>
                        </button>
                        <button [disabled]="resetRequestForm.invalid" class="btn btn-accent pull-right"
                                jhiTranslate="reset.request.form.button"
                                type="submit">Reset
                        </button>
                    </div>
                </div>
            </form>
            <div *ngIf="success" class="row">
                <div class="col-12 text-center pt-5">
                    <button (click)="previousState()" class="btn btn-dark" type="button">
                        <mat-icon class="align-text-top">keyboard_backspace</mat-icon>
                        <span jhiTranslate="login.title">Login</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
