// FONT
//$font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
//  'Segoe UI Symbol', 'Noto Color Emoji';

// COLORS
$main-dark-color: #121923;
$main-light-color: #e6e6e6;
$main-color: #0a8e8d;
$main-color-opaque: rgba(10, 142, 141, 0.5);
$main-bg-color: #005e90;
$main-warn-color: #e94b3c;
$main-success-color: #28a745;
